doctype 5
html
  head
    title aun-subscreen
    link(rel="stylesheet", type="text/css", media="screen", href="/css/application.css")
    script(src="/socket.io/socket.io.js")
    script(src="/js/application.js")
    block head
  body
    block body
