doctype 5
html
  head
    title aun-subscreen
    link(rel="stylesheet", type="text/css", media="screen", href="/components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", media="screen", href="/css/application.css")
    script(src="/socket.io/socket.io.js")
    script(src="/components/jquery/jquery.min.js")
    script(src="/js/knockout-3.0.0beta.js")
    script(src="/components/bootstrap/dist/js/bootstrap.min.js")
    block head
  body
    block body
