doctype 5
html
  head
    title aun
    script(src="/socket.io/socket.io.js")
    script(src="/js/jquery-1.10.2.min.js")
    script(src="/js/knockout-3.0.0beta.js")
    script(src="/js/knockout.mapping-latest.js")
    block head
  body
    block body
