extends ../../views/layout

append head
  script(type="text/html", id="tweet")
    .tweet
      span.user
        img.icon(data-bind="attr: {src: payload.user.profile_image_url}", width="48", height="48").media-object.pull-left
        strong.screen_name(data-bind="text: payload.user.screen_name")
      span.message(data-bind="text: payload.text")

  script(type="text/html", id="irc")
    .irc
      strong(data-bind="text: payload.from")
      span(data-bind="text: payload.message")

  //- script(type="text/html", id="announcement-template")
  //-  .message(data-bind="fadeInText: message")

block body
  //- #announcement(data-bind="template: {name: 'announcement-template', if: message}, visible: visible")
  ul#messages(data-bind="foreach: messages")
    li(data-bind="template: {name: type}")
