extends ../../views/layout

append head
  script(src="/js/aun-subscreen.js")

  script(type="text/html", id="message-template")
    li
      strong.screen_name(data-bind="text: payload.user.screen_name")
      | 
      span.message(data-bind="text: payload.text")

block body
  ul#messages(data-bind="template: {name: 'message-template', foreach: messages}")
